# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

# What was the average age of player in the league?

In [228]:
import numpy as np
import pandas as pd

nba = pd.read_csv('../NBA_assignment/nbastats2018-2019.csv')

playerAge = nba['Age'].mean()
roundAge = round(playerAge)
print(f'The average player age in the league is: {roundAge}')

The average player age in the league is: 26

# What player scored the most points?

In [227]:
playerPoints = nba[['Name','Team','Points']]

pointsSorted = playerPoints.sort_values('Points', ascending = False)
display(pointsSorted.head(5))

topScorer = pointsSorted['Name'].iloc[0]
teamScorer = pointsSorted['Team'].iloc[0]
print(f'The player who scored the most points is {topScorer} of the {teamScorer}.')

                      Name                   Team  Points
202           James Harden        Houston Rockets    36.1
179            Paul George  Oklahoma City Thunder    28.0
15   Giannis Antetokounmpo        Milwaukee Bucks    27.7
151            Joel Embiid     Philadelphia 76ers    27.5
253           LeBron James     Los Angeles Lakers    27.4

The player who scored the most points is James Harden of the Houston Rockets.

# What player had the most blocks during the season? Was it a post player (F/C)?

In [226]:
playerBlocks = nba[['Name','Team','Blocks']]

blocksSorted = playerBlocks.sort_values('Blocks', ascending=False)
display(blocksSorted.head(5))

topBlocker = blocksSorted['Name'].iloc[0]
teamBlocker = blocksSorted['Team'].iloc[0]
print(f'The player who had the most blocks is post player {topBlocker} of the {teamBlocker}.')

# there is no information on player position available in nbastats2018-2019.csv
# however a quick google search tells you that Myles Turner is a Forward Center

                  Name                  Team  Blocks
476       Myles Turner        Indiana Pacers     2.7
123      Anthony Davis  New Orleans Pelicans     2.4
419  Mitchell Robinson       New York Knicks     2.4
183        Rudy Gobert             Utah Jazz     2.3
303        Brook Lopez       Milwaukee Bucks     2.2

The player who had the most blocks is post player Myles Turner of the Indiana Pacers.

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [223]:
nba.keys()

nbaWS48 = nba[['Name','Team','WS48']]
wsSorted = nbaWS48.sort_values('WS48', ascending=False)
display(wsSorted.head(5))

highestWS = wsSorted['Name'].iloc[0]
teamWS = wsSorted['Team'].iloc[0]
print(f'The player with the best chance to win a title is {highestWS} of the {teamWS}. He has the highest win shares per 48 minutes of play.')

               Name                Team   WS48
405         Zhou Qi     Houston Rockets  1.261
147    Trevon Duval                 NaN  0.537
394  Gary Payton II  Washington Wizards  0.358
95     Troy Caupain                 NaN  0.347
501   Alan Williams                 NaN  0.312

The player with the best chance to win a title is Zhou Qi of the Houston Rockets. He has the highest win shares per 48 minutes of play.

# What player had the best 3-pt percentage?

In [222]:
nba.keys()

threePt = nba[['Name','Team','FG3%']]
threePtSorted = threePt.sort_values('FG3%', ascending=False)
display(threePtSorted.head(5))

name3pt = threePtSorted['Name'].iloc[0]
team3pt = threePtSorted['Team'].iloc[0]
print(f'The player with the best 3-pt percentage is {name3pt} of the {team3pt}.')

              Name                Team   FG3%
312  Scott Machado  Los Angeles Lakers  1.000
439  Jordan Sibert       Atlanta Hawks  1.000
147   Trevon Duval                 NaN  1.000
352  Eric Moreland        Phoenix Suns  1.000
95    Troy Caupain                 NaN  0.667

The player with the best 3-pt percentage is Scott Machado of the Los Angeles Lakers.

# Who played the most minutes during the season

In [229]:
minutesPlayed = nba[['Name','Team','MP']].sort_values('MP', ascending=False)

mostMinutes = minutesPlayed['Name'].iloc[0]
teamMinutes = minutesPlayed['Team'].iloc[0]
print(f'The player who played the most minutes during the season is {mostMinutes} of the {teamMinutes}.')

The player who played the most minutes during the season is Paul George of the Oklahoma City Thunder.

# What player given their player effiecency rating was the clutchest during the season?

In [231]:
per = nba[['Name','Team','PER']]
perSorted = per.sort_values('PER', ascending=False)
display(perSorted.head(5))

clutchest = perSorted['Name'].iloc[0]
teamClutch = perSorted['Team'].iloc[0]
print(f'The player who, given their player effiecency rating, was the clutchest during the season was {clutchest} of the {teamClutch}.')

                      Name                Team   PER
405                Zhou Qi     Houston Rockets  80.4
147           Trevon Duval                 NaN  38.3
394         Gary Payton II  Washington Wizards  36.9
501          Alan Williams                 NaN  32.9
15   Giannis Antetokounmpo     Milwaukee Bucks  30.9

The player who, given their player effiecency rating, was the clutchest during the season was Zhou Qi of the Houston Rockets.

# What team had the youngest roster?

In [234]:
nbaTeam = nba[['Team','Age']]
ageByTeam = nbaTeam.groupby(['Team']).mean().sort_values('Age').round()
display(ageByTeam.head(5))

print('The team with the youngest roster is the Chicago Bulls.')

                   Age
Team
Chicago Bulls     24.0
Sacramento Kings  24.0
Orlando Magic     25.0
New York Knicks   25.0
Phoenix Suns      25.0

The team with the youngest roster is the Chicago Bulls.

# Who is the highest paid player during the seasion?

In [294]:
payData = nba[['Name','Team','Salary']]
# change salary type from str to int
payData2 = payData['Salary'].replace('-',0).astype('int').reset_index()
# sort by salary
paySorted = payData2.sort_values('Salary', ascending=False).round()
# change salary type back to str
topPay = paySorted['Salary'].astype('str').reset_index()
# merge correctly sorted salary data and payData
payMerge = topPay.merge(payData, on = 'Salary', how = 'outer')
display(payMerge.head(5))

highestPay = payMerge['Name'].iloc[0]
teamPay = payMerge['Team'].iloc[0]
print(f'The player with the highest pay during the season is {highestPay} of the {teamPay}')

   index    Salary               Name                   Team
0  121.0  37457154      Stephen Curry  Golden State Warriors
1  253.0  35654150       LeBron James     Los Angeles Lakers
2  253.0  35654150         Chris Paul        Houston Rockets
3  253.0  35654150  Russell Westbrook  Oklahoma City Thunder
4  391.0  35654150       LeBron James     Los Angeles Lakers

The player with the highest pay during the season is Stephen Curry of the Golden State Warriors

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [410]:
ftdata_1 = nba[['Name','Team','FT%']]
ftdata_2 = nba[['Name','FTA']]

ftaMax = ftdata_2.sort_values('FTA', ascending=True).dropna()
ftpMin = ftdata_1.sort_values('FT%', ascending=False).dropna()

ftmerge = ftpMin.merge(ftaMax, on = 'Name')
ftgroup = ftmerge.groupby('Name').mean().sort_values('FT%', ascending=True)
display(ftgroup.head(5))

print("The player I wouldn't want taking a free throw at the end of the game is Donatas Motiejunas, with the lowest free throw percentage and high free throw attempts.")

                    FT%  FTA
Name
Dzanan Musa         0.0  0.2
Tahjere McCall      0.0  1.0
Jacob Evans         0.0  0.0
Donatas Motiejunas  0.0  0.7
Terrence Jones      0.0  0.5

The player I wouldn't want taking a free throw at the end of the game is Donatas Motiejunas, with the lowest free throw percentage and high free throw attempts.

In [295]:
nba.keys()

Index(['Name', 'Height', 'Weight', 'Team', 'Age', 'Salary', 'Points', 'Blocks',
       'Steals', 'Assists', 'Rebounds', 'FT%', 'FTA', 'FG3%', 'FG3A', 'FG%',
       'FGA', 'MP', 'G', 'PER', 'OWS', 'DWS', 'WS', 'WS48', 'USG', 'BPM',
       'VORP'],
      dtype='object')